/*NAVBAR*/
nav {
  background-color: transparent;
  background: #ffffff;
  height: 100%;
  text-align: center !important;
}


/*Logo*/
nav .brand-logo {
  position: relative;
  margin: 8px 0 0 0;
}

.nav-wrapper {
  height: auto;
}


nav a.brand-logo {
  height: 57px;
}

nav img.brand-logo {
  width: 600px;
  height: auto;
  margin: 0;
}

.navbar-ul{
  width: auto !important;
  margin: 0 auto;
}

/*Nav Buttons*/
ul li a {
  text-align: center;
  -webkit-transition: color 0.3s;
  -moz-transition:    color 0.3s;
  -ms-transition:     color 0.3s;
  -o-transition:      color 0.3s;
  transition:         color 0.3s;
  color: #262626;
}

ul li a:hover {
  color: #b39454;
}

ul#nav-mobile li a {
  font-size: 14px;
  font-weight: bold;
}

ul#nav-mobile li a:hover {
  background: none;
}

ul#nav-mobile li a.active {
  background-color: rgba(0,0,0,0.1);
}

/*Dropdown*/
i.right {
  margin: 0 !important;
}

ul#career, ul#leadership, ul#community{
  margin-top: 64px;
  background: #ffffff;
}

ul#career li a,
ul#leadership li a,
ul#community li a {
  font-size: 12px;
  color: #b39454;
}

ul#career li a:hover,
ul#leadership li a:hover,
ul#community li a:hover {
  color: #262626;
}

/*Side nav*/
nav .button-collapse i {
  color: #262626;
  font-size: xx-large;
  margin-top: 50%;
}

.side-nav {
  width: 250px;
}

.side-nav-img {
  width: 100px;
  height: 70px;
  margin-top: 10px;
}
