/*NAVBAR*/
nav {
  background-color: transparent;
  background: #ffffff;
  height: auto;
}



/*Logo*/
nav .brand-logo {
  position: relative;
  margin: 8px 0 0 0;
}

.nav-wrapper {
  height: 57px !important;
}

nav a.brand-logo {
  height: 57px;
}

nav img.brand-logo {
  width: 600px;
  height: auto;
  margin: 0;
}


/*Nav Buttons*/
ul li a {
  text-align: center;
  -webkit-transition: color 0.3s;
  -moz-transition:    color 0.3s;
  -ms-transition:     color 0.3s;
  -o-transition:      color 0.3s;
  transition:         color 0.3s;
  color: #262626;
}

ul li a:hover {
  color: #b39454;
}

ul#nav-mobile li a {
  font-size: 14px;
  font-weight: bold;
}

ul#nav-mobile li a:hover {
  background: none;
}

ul#nav-mobile li a.active {
  background-color: rgba(0,0,0,0.1);
}

/*Dropdown*/
i.right {
  margin: 0 !important;
}

ul#career {
  margin-top: 64px;
  background: #ffffff;
}

ul#career li a {
  font-size: 12px;
  color: #b39454;
}

ul#career li a:hover {
  color: #262626;
}