/*NAVBAR*/
nav {
  background-color: transparent;
  background: #262626;
  height: auto;
}


/*Logo*/
nav .brand-logo {
  position: relative;
}

nav a.brand-logo {
  margin-top: 8px;
}

nav img.brand-logo {
  width: 175px;
  height: auto;
}


/*Nav Buttons*/
ul li a {
  text-align: center;
  -webkit-transition: color 0.3s;
  -moz-transition:    color 0.3s;
  -ms-transition:     color 0.3s;
  -o-transition:      color 0.3s;
  transition:         color 0.3s;
  color: #e5e5e5;
}

ul li a:hover {
  color: #eeb211;
}

ul#nav-mobile li a {
  font-size: 14px;
  font-weight: bold;
}

ul#nav-mobile li a:hover {
  background: none;
}

/*Dropdown*/
ul#development {
  margin-top: 64px;
  background: #262626;
}

ul#development li a {
  font-size: 12px;
  color: #eeb211;
}

ul#development li a:hover {
  color: #262626;
}