.main {
    height: 100%;
}

.parallax img {
    width: 100%;
    height: auto;
}

.parallax-container .parallax img {
    display: block !important;
}
.carousel-item {
    height: auto !important;
}

.carousel-section {

}

































/*Staff*/
div.our-staff h2 {
  text-align: center;
}

div.our-staff li {
  /*background: lightblue;*/
  flex-direction: column;
}

div.our-staff img {
  width: 100px;
  height: auto;
}