.carousel {
    height: 650px !important;
}

.carousel-text {
    color: white;
}

.carousel-content{
    margin-top: 15%;
    margin-bottom: 10%;
}

div.p.mission-text {
    font-size: 40px;
}

.carousel-btn {
    top: 100%;
    margin: 10px;
    background-color: #eeb211;
}


.first-panel {
    background-image: url("../../images/career/career-1.jpg");
    background-size: cover;
}

.second-panel {
    background-image: url("../../images/community-service/community-service-1.JPG");
    background-size: cover;
}

.third-panel {
    background-image: url("../../images/jwob/JWOB3.JPG");
    background-size: cover;
}

.fourth-panel {
    background-image: url("../../images/career/career-3.jpg");
    background-size: cover;
}


.about-section {
    background-color: #eeb211;
}






























/*Staff*/
div.our-staff h2 {
  text-align: center;
}

div.our-staff li {
  /*background: lightblue;*/
  flex-direction: column;
}

div.our-staff img {
  width: 100px;
  height: auto;
}