/*GENERAL*/
body {
  font-family: 'Heebo', sans-serif;
  color: #262626;
}

div#main-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#app{
  min-height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

/*Layout*/
[class^='container-'] {
  margin: 0 auto;
}

.container-98 {
  width: 98%;
}

.container-90 {
  width: 90%;
}

.container-80 {
  width: 80%;
}

.container-70 {
  width: 70%;
}

.section-container {
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-spread {
  justify-content: space-between;
}

.layer {
  background-color: rgba(13, 13, 13, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}

/*Background Colors*/
.white-bg {
  background-color: white;
}

.lightgray-bg {
  background-color: #e5e5e5;
}

.darkgray-bg {
  background-color: #545454;
}

.black-bg {
  background-color: #262626;
}

.gold-bg {
  background-color: #b39454;
}
/*Text Styles*/
.white-text {
  color: white;
}

.lightgray-text {
  color: #e5e5e5;
}

.darkgray-text {
  color: #545454;
}

.black-text {
  color: #262626;
}

.gold-text {
  color: #b39454;
}

span.bold {
  font-weight: bold;
}

span.italic {
  font-style: italic;
}
/*OTHER*/
.carousel {
    height: 575px !important;
}

.value-div {
  position: relative;
}

.value-div h1{
  position: absolute;
}

.second-value{
  top: 400px;
  right: 0;
}

.third-value {
  right: 0;
}

.fourth-value {
  top: 400px;
  left: 0;
}


.freshman-carousel {
  overflow: visible;
  height: 100% !important;
  width: 60%;
  margin: 0 auto;
}

.freshman-carousel img {
  height: 100% !important;
}

.carousel-controls {
  position: absolute;
  bottom: -90%;
}

.carousel-controls:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-controls i {
  color: #f5f5f5;
  font-size: 55pt;
  font-weight: 300;
  opacity: 0.85;
}

.carousel-fwd {
  right: 5px;
}

button:focus {
  outline: none;
  background-color: transparent;
}