body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

/*GENERAL*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.content-spread {
  justify-content: space-between;
}

main {
  flex: 1 0 auto;
}