/*FOOTER*/
footer {
  background: #262626;
  padding: 40px 0 25px;
  color: #808080;
}


div[class^='footer-'] {
  flex: 2;
}

footer h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

footer p {
  font-size: 13px;
  line-height: 23px;
}

footer ul li a {
  color: #808080;
}

/*Top*/
footer div.top {
  margin-bottom: 30px;
}

/*Mission*/
div.footer-mission {
  align-items: flex-start;
}

div.footer-mission img {
  width: 150px;
  height: auto;
  margin-right: 40px;
}



div.footer-mission p {
  font-style: italic;
  width: 240px;
}

/*Navigation*/
div.footer-navigation ul {
  flex-flow: wrap column;
  max-height: 200px;
}

div.footer-navigation ul li a {
  font-size: 14px;
  line-height: 38px;
}

/*Contact Us*/
div.footer-contact {
  flex: 1;
  margin: 0 70px;
}


/*Bottom*/
footer div.bottom {
  /*background: pink;*/
  border-top: 1px solid #545454;
  padding-top: 20px;
  font-size: 12px;
}

footer div.bottom ul li:not(:last-child) {
  padding: 0 10px;
  border-right: 1px solid #545454;
  line-height: 20px;
}

footer div.bottom ul li:last-child {
  padding: 0 10px;
}