/*NAVBAR*/

/*Logo*/
a.brand-logo {
  margin: 8px 0 0 8px;
}

img.brand-logo {
  width: 80px;
  height: auto;
}


/*Buttons*/

/*Dropdown*/
ul#nav-mobile li a {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0 30px;
}


ul#development {
  margin-top: 64px;
}