/*NAVBAR*/
nav.main-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
}

div.nav-container {
  margin: 0 auto;
}

div.brand-logo {
  margin: 0 auto;
}

img.brand-logo {
  width: 80px;
  height: auto;
  margin-top: 10px;
}

ul.nav-opt {
  height: 50px;
  width: 90%;
  margin-top: 10px;
}

li.nav-opt {
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

a:hover {
  text-decoration: none;
}

.nav-img {
    height: 100%;
    width: auto;
}